
@{
    ViewBag.Title = "Test List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test_List</title>
</head>
<body>
    <form action="Test_List">
        <div class="form-control">
            Domain:
            <select class="form-group">
                <option>--select--</option>
                <option value="saab">Domain1</option>
                <option value="mercedes">Domain2</option>
                <option value="audi">Domain3</option>
            </select>
        </div>

        <div class="form-control">
            Technology:
            <select class="form-group">
                <option>--select--</option>
                <option value="saab">Tech1</option>
                <option value="mercedes">Tech2</option>
                <option value="audi">Tech3</option>
            </select>
        </div>

        <label><input type="submit" name="test1" />Test1</label><br />
        <label><input type="submit" name="test2" />Test2</label><br />
        <label><input type="submit" name="test3" />Test3</label><br />

        
    </form>
</body>
</html>
