################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tech_Forum/.vs/Tech_Forum/v15
