
@{
    ViewBag.Title = "GenerateOverallReport";
}

<h2>GenerateOverallReport</h2>


<div>
    <h3>Total No of Hits</h3>
    <br />
    <h3>43005</h3>
    <br />
    <br />
    <br />
    <br />
    <h3>Total No of Users Online</h3>
    <br />
    <h3>430</h3>
    <br />
    <br />
    <br />
    <br />
    <h3>Category Based Reports</h3>

</div>

