
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test_Result</title>
</head>
<body>
                   Score: <!--Display score--><br /><br />
                   Total no of Questions attempted: <!--Number of questions--><br /><br />
                   
                   *************Questions with correct answers***************
</body>
</html>
